<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle
    Name="LIG AI MCP Server Suite"
    Manufacturer="LIG Defense &amp; Aerospace"
    Version="$(ProductVersion)"
    UpgradeCode="676DF067-8BE0-41D5-89BC-286A3A553673"
    IconSourceFile="$(IconPath)"
    Compressed="yes">

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
        Theme="hyperlinkLicense"
        LicenseUrl=""
        LogoFile="$(LogoPath)"
        ShowVersion="yes"
        SuppressOptionsUI="yes" />
    </BootstrapperApplication>

    <Chain>
      <MsiPackage
        Id="LIG_AI_MCP_MSI"
        SourceFile="$(MsiPath)"
        Compressed="yes"
        Vital="yes" />
    </Chain>
  </Bundle>
</Wix>
